.Rproj.user
.Rhistory
.RData
.Ruserdata
data/openaq/backup_data/
data/weather/
data/openaq/data/
data/clean/openaq_state_original.csv
data/merged.csv
data/pollution_wheather_unified_units.csv
data/clean/merged.csv
data/clean/openaq_state_converted_units.csv
data/map_data/gadm36_levels_gpkg.zip
data/map_data/gadm36_levels_gpkg/gadm36_levels.gpkg
data/output_openaqData/open_state_clean.csv
data/output_openaqData/subregion_difference_data.csv
data/output_openaqData/subregion_difference_data_standardized.csv
data/countries-map/data/gadm_fortified.csv
data/countries-map/data/gadm36_levels_gpkg.zip
data/countries-map/data/gadm36_levels_gpkg/
data/output_openaqData/openaq_state_clean_ma.csv
data/output_openaqData/all_data_over_time.csv
presentation/tables_map/all_data_over_time.csv
presentation/~$draft_content.pptx
